.prose .anchor {
  @apply opacity-0 absolute no-underline transition-all;

  padding-right: 10rem;
  margin-top: -0.1rem;
  margin-left: -0.8em;

  cursor: pointer;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;

  content: '#';
  font-size: 0.8em;
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply opacity-100;
}
